.App {
  text-align: center;
}

.App-grid {
  display: grid;
  grid-template-areas: "Head Head Head Head Head Head "
                       "Menu Menu Feed Feed  Friends Friends"
                       "Menu Menu Feed Feed  Friends Friends";
}

