
.image-friend {
    height : 30px;
	width :  30px;
	border-radius: 50%;
	border: 2px solid #ddd;
}
.names-friend {
	text-transform : lowercase;
	text-align : center;
	font-family : 'HindGuntur-Light';
	font-size : 1.1em;
}