.Post {
  margin-bottom : 10px;
	background-color : white;
  position: relative;
	height : 80%;
	width : 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 0.5%;
}
.post-image {
  margin-bottom : 10px;
  height : 60%;
  width : 100%;
}
.comment-space {
  position : relative;
	width : 90%;
	margin-top : 0.5%;
	margin-left : 4%;
}
.poster-comment-image {
	display : inline-block;
	margin-right : 2%;
}
.post-picture-owner {
	margin-bottom : 10px;
	height : 60%;
	width : 100%;
}
.post-form {
	position : relative;
	width : 80%;
	height : 45px;
}